<?xml version="1.0"?>

<model>
  <name>Ground Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.2">model-1_2.sdf</sdf>

  <author>
  <name>Keuntaek Lee</name>
  <email>keuntaek.lee@gatech.edu</email>
  </author>

  <description>
  A texture used to represent an F1 track.
  </description>
</model>
