<?xml version="1.0"?>

<model>
  <name>Ground Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.2">model-1_2.sdf</sdf>

  <author>
  <name>Jason Gibson</name>
  <email>jgibson37@gatech.edu</email>
  </author>

  <description>
  A blended texture used to represent a track.
  </description>
</model>
