<?xml version="1.0"?>

<model>
  <name>Blended CCRF Map</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
  <name>Bogdan Vlahov</name>
  <email>bvlahov3@gatech.edu</email>
  </author>

  <description>
  The blended version of the modified ccrf map
  </description>
</model>
