<launch>
  <include file="$(find autorally_core)/launch/hardware.machine" />

  <node pkg="nodelet"     
    type="nodelet" 
    name="autorally_core_manager"  
    args="manager" 
    output="screen" 
    machine="autorally-master">
    <param name="num_worker_threads" value="30" />
  </node>
</launch>
