<launch>
  <include file="$(find autorally_core)/launch/hardware.machine" />

  <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" machine="muri-laptop" output="screen" args="manager" />

  <include file="$(find autorally_core)/launch/camera.launch">
    <arg name="nodelet_manager_launched" value="1" />
    <arg name="guid" value="$(env AR_LEFTCAM)" />
    <arg name="side" value="left" />
  </include>
  
  <include file="$(find autorally_core)/launch/camera.launch">
    <arg name="nodelet_manager_launched" value="1" />
    <arg name="guid" value="$(env AR_RIGHTCAM)" />
    <arg name="side" value="right" />
  </include>

</launch>
