<launch>
  <include file="$(find autorally_core)/launch/hardware.machine" />

  <node name="chronyStatusMaster" pkg="autorally_core" type="chronyStatus.py" machine="autorally-master" output="screen" />
  <node name="chronyStatusOCS" pkg="autorally_core" type="chronyStatus.py" machine="autorally-ocs" output="screen" />

</launch>
