<launch>
  <include file="$(find autorally_core)/launch/hardware.machine" />

  <node name="runStop" pkg="autorally_core" type="runStop"
        machine="autorally-ocs" output="screen">
    <remap from="runstop" to="runstopBox"/>
    
    <param name="runstopRate" value="5"/>
    <param name="port" value="/dev/arRunStop" />

    <!--configure settings for 57600 baud, 8N1 -->
    <param name="serialBaud" value="57600" />
    <param name="serialDataBits" value="8" />
    <param name="serialParity" value="none" />
    <param name="serialStopBits" value="1" />
    <param name="serialHardwareFlow" value="false" />
    <param name="serialSoftwareFlow" value="false" />
  </node>
</launch>
