<?xml version="1.0"?>

<model>
  <name>Modified CCRF Track</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
  <name>Bogdan Vlahov</name>
  <email>bvlahov3@gatech.edu</email>
  </author>

  <description>
  A modified CCRF Track boundaries without the hairpin
  </description>
</model>
