<?xml version="1.0"?>

<robot name="track">
  <gazebo>
    <static>true</static>
  </gazebo>
  <link name="track_link">
    <!-- starts 3 inches up in z direction -->
    <origin pose="0 0 0 0 0 0"/>
    <collision name="jump22deg_collision">
      <geometry>
        <mesh filename="package://autorally_description/urdf/autoRallyTrack.stl" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <visual cast_shadows="false">
      <geometry>
        <mesh filename="package://autorally_description/urdf/autoRallyTrack.stl" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1000000000.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
  </link>
  <gazebo reference="track_link">
    <material>Gazebo/Black</material>
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
  </gazebo>
</robot>
