<?xml version="1.0"?>

<robot name="jump26deg">
  <gazebo>
    <static>true</static>
  </gazebo>
  <link name="jump26deg_link">
    <origin pose="0 0 0 0 0 0"/>
    <collision name="jump26deg_collision">
      <geometry>
        <mesh filename="package://autorally_description/urdf/cad/jump26deg.stl" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>

    <visual name="jump26deg_visual" cast_shadows="false">
      <geometry>
        <mesh filename="package://autorally_description/urdf/cad/jump26deg.stl" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1000000000.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
  </link>
  <gazebo reference="jump26deg_link">
    <material>Gazebo/Grey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

</robot>
