<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>
  <arg name="verbose" default="true"/>
  <arg name="world_name" default="worlds/empty_sky.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="namespace" default="autorally_platform"/>
  
  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <!-- set command arguments -->
  <arg unless="$(arg paused)" name="command_arg1" value=""/>
  <arg     if="$(arg paused)" name="command_arg1" value="-u"/>
  <arg unless="$(arg headless)" name="command_arg2" value=""/>
  <arg     if="$(arg headless)" name="command_arg2" value="-r"/>
  <arg unless="$(arg verbose)" name="command_arg3" value=""/>
  <arg     if="$(arg verbose)" name="command_arg3" value="--verbose"/>
  <arg unless="$(arg debug)" name="script_type" value="gzserver"/>
  <arg     if="$(arg debug)" name="script_type" value="debug"/>

  <!-- start gazebo server-->
  <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
	args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_name)" />
	
  <!-- start gazebo client -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>

  <!-- <node name="spawn_track" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find autorally_description)/urdf/autoRallyTrack.urdf -urdf -model track
              -gazebo_namespace /$(arg namespace)/gazebo
              -x 0 -y 0 -z 0.0762
              -R 0 -P 0 -Y 0.785398"/> -->

  <!-- Load the jumps. -->
  <node name="spawn_jump3" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find autorally_description)/urdf/jump18deg.urdf -urdf -model jump18deg
              -gazebo_namespace /$(arg namespace)/gazebo
              -x 0 -y -8 -z 0
              -R 0 -P 0 -Y 0"/>
  <node name="spawn_jump1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find autorally_description)/urdf/jump22deg.urdf -urdf -model jump22deg
              -gazebo_namespace /$(arg namespace)/gazebo
              -x 0 -y -4 -z 0
              -R 0 -P 0 -Y 0"/>
  <node name="spawn_jump4" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find autorally_description)/urdf/jump26deg.urdf -urdf -model jump26deg
              -gazebo_namespace /$(arg namespace)/gazebo
              -x 0 -y -0 -z 0
              -R 0 -P 0 -Y 0"/>
  <node name="spawn_jump2" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find autorally_description)/urdf/jump30deg.urdf -urdf -model jump30deg
              -gazebo_namespace /$(arg namespace)/gazebo
              -x 0 -y 4 -z 0
              -R 0 -P 0 -Y 0"/>
</launch>
